SOLIDSIGN_API_BASE_URL=https://solidsign.com.br
SOLIDSIGN_API_AUTHORIZATION=Bearer YOUR_JWT_TOKEN_HERE

SOLIDSIGN_DIPLOMA_HASH_ALGORITHM=SHA256
SOLIDSIGN_DIPLOMA_SIGNATURE_PACKAGING=ENVELOPED
SOLIDSIGN_DIPLOMA_CANONICALIZATION_METHOD=EXCLUSIVE

SOLIDSIGN_DIPLOMA_STEP1_NODE_NAME=DadosDiploma
SOLIDSIGN_DIPLOMA_STEP1_NAMESPACE=http://portal.mec.gov.br/diplomadigital/arquivos-em-xsd
SOLIDSIGN_DIPLOMA_STEP1_PROFILE=ADRT
SOLIDSIGN_DIPLOMA_STEP1_REMOVE_XPATH_FILTER=false

SOLIDSIGN_DIPLOMA_STEP2_NODE_NAME=DadosDiploma
SOLIDSIGN_DIPLOMA_STEP2_NAMESPACE=http://portal.mec.gov.br/diplomadigital/arquivos-em-xsd
SOLIDSIGN_DIPLOMA_STEP2_PROFILE=ADRT
SOLIDSIGN_DIPLOMA_STEP2_REMOVE_XPATH_FILTER=true

SOLIDSIGN_DIPLOMA_STEP3_NODE_NAME=DocumentacaoAcademicaRegistro
SOLIDSIGN_DIPLOMA_STEP3_NAMESPACE=http://portal.mec.gov.br/diplomadigital/arquivos-em-xsd
SOLIDSIGN_DIPLOMA_STEP3_PROFILE=ADRA
SOLIDSIGN_DIPLOMA_STEP3_REMOVE_XPATH_FILTER=true

PORT=8095
